global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'chl-server'
    static_configs:
      # Hardcode the Docker host IP until we upgrade to Docker >= 20.04
      # https://stackoverflow.com/a/62431165
      - targets: ["172.17.0.1:9100"]
